{% extends "home.html.twig" %}

{% block content %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-purple">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">You Won't Find Better VPS Hosting Anywhere!</h1>
      <p class="lead my-3">Want a fast VPS? You got it! How about a reliable VPS? Check. Need the best development software? Sure! You get all of these benefits and so much more in our high performance, feature-rich VPS Hosting plans.</p>
      <p class="lead mb-0"><a href="/features" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

 <div class="container">
  <div class="row align-items-center justify-content-center flex-column">
    <div class="col-12 col-lg-8 d-flex flex-column align-items-center text-center">
      <h2 class="text-h">30 day money-back guarantee</h2>
        <p class="paragraph mt-15 mt-20-sm mt-30-xxl container-2020-sm container-2020-xl-new">
          If you are not happy with our services for whatever reason, we’ll refund your payment. No hassle, no risk.
        </p>
    <div class="mt-20 mt-30-sm mt-35-xxl">
      <a href="/pricing" data-offset="30" id="30-days-guarantee" class="hb hb--255 hb--h50 mx-auto text-white scrollTo">Get Started</a>
  </div>
 </div>
 </div>
 </div>
{% endblock %}