{% extends "features.html.twig" %}


{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-7 fw-bold">Powerful, Flexible Hosting</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Affordable web hosting doesn’t have to come with a catch. With us, you can have a site up in minutes and then easily expand as you grow. Plus enjoy quality features, without the high cost.</p>
  </div>
</div>

<div class="row row-cols-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <img class="bi text-muted flex-shrink-0 me-3" src="images/rack.png" width="40" height="40"/>
      <div>
        <h4 class="fw-bold mb-0">Numerous OS options</h4>
        <p>pre-configured templates available to deploy server in just seconds.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img class="bi text-muted flex-shrink-0 me-3" src="images/backup.png" width="40" height="40"/>
      <div>
        <h4 class="fw-bold mb-0">Live Backups on-demand</h4>
        <p>Backup your VPS while the server is running. No scheduled downtime needed.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img class="bi text-muted flex-shrink-0 me-3" src="images/firewall.png" width="40" height="40"/>
      <div>
        <h4 class="fw-bold mb-0">Quick and easy firewall setup</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
        <img class="bi text-muted flex-shrink-0 me-3" src="images/billing.png" width="40" height="40"/>
      <div>
        <h4 class="fw-bold mb-0">Flexible billing</h4>
        <p>No contracts. Choose how long you keep your server. Destroy on-demand.</p>
      </div>
    </div>
  </div>

{% endblock %}

