{% extends "dashboard/index.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block nav %}
	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="position-sticky pt-3">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/dashboard">
						<span data-feather="home"></span>
						Dashboard
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/plans">
						<span data-feather="file"></span>
						Plans
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/dashboard/orders">
						<span data-feather="shopping-cart"></span>
						Orders
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/customers">
						<span data-feather="user-check"></span>
						Customers
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/users">
						<span data-feather="user-check"></span>
						Users
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/faqs">
						<span data-feather="help-circle"></span>
						FAQs
					</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1>Orders</h1>
		</div>
	</main>
{% endblock %}
